<hello name="{{ name }}"></hello>
<div>
  <p>
    Keystroke Count {{count}}
  </p>
  <p>
    Double Keystroke Count {{doubleCount}}
  </p>
  <div>
    <table>
      <thead>
        <tr>
          <td>
            Key
          </td>
          <td>
            Delay (ms)
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events" [style.background-color]="event.delay == 0 ? '#fff' : 
          event.delay &gt; 185 ? '#fff' : '#f44336'" [style.color]="event.delay == 0 ? '#000' : 
          event.delay &gt;= 185 ? '#000' : '#fff'">
          <td>
            {{event.event.key}}
          </td>
          <td>
            {{event.delay | number: '1.2-2'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>